altgraph==0.17
autopep8==1.5.7
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
et-xmlfile==1.1.0
Flask==2.0.1
future==0.18.2
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
openpyxl==3.0.7
pefile==2021.5.24
pycodestyle==2.7.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pywin32-ctypes==0.2.0
requests==2.25.1
toml==0.10.2
urllib3==1.26.5
Werkzeug==2.0.1
